//output:contacts.html
- var url = "contacts"
doctype html
html(lang='ru', dir='ltr')
  head
    meta(charset='utf-8')
    title Главная страница
    link(rel='stylesheet', href='css/styles.css')
  body
    .container
      include ./navbar.jade
      .body
        .hero
          h1.hero-title Контакты
        .row.last-child
          .contacts
            .one-third-contact-item
              img(alt="picture", width=38, height=48, src="img/icon.png")
              h2.city Москва
              .label Телефон
              .content +7 (123) 456-78-90
              .label Электронный адрес
              .content example@examle.com
              .label Адрес
              .content.adress Красная площадь, 3, 1 линия 3
            .one-third-contact-item
              img(alt="picture", width=38, height=48, src="img/icon.png")
              h2.city Москва
              .label Телефон
              .content +7 (123) 456-78-90
              .label Электронный адрес
              .content example@examle.com
              .label Адрес
              .content.adress Красная площадь, 3, 1 линия 3
            .one-third-contact-item
              img(alt="picture", width=38, height=48, src="img/icon.png")
              h2.city Москва
              .label Телефон
              .content +7 (123) 456-78-90
              .label Электронный адрес
              .content example@examle.com
              .label Адрес
              .content.adress Красная площадь, 3, 1 линия 3
      include ./footer.jade
      
