.footer
  .columns
    .first-column
      h3 Контакты
      p Адрес: Красная площадь, 3, 1 линия 3
      p Телефон: +1 (123) 456-78-90
    .second-column
      h3 Полезная информация
      ul
        li
          a(href="#") Правила продаж
        li
          a(href="#") Поддержка покупателя
        li
          a(href="#") Доставка
      ul
        li
          a(href="#") Архитекторам
        li
          a(href="#") Наши вакансии
        li
          a(href="#") Обмен и возврат
    .last-column
      h3 Оставайтесь на связи!
      p
        Подпишитесь, чтобы быть в курсе последних событий и выгодных условий!
      input#subscribe-email.subscribe-input(
        type="email",
        placeholder="Ваш адрес электронной почты"
      )
  .copyright
    p.copy-text &copy; Все права защищены - Interior 2016.
    ul.social-links
      li
        a(href="#")
          img(width=28, height=28, src="img/social/fb.png")
      li
        a(href="#")
          img(width=28, height=28, src="img/social/tw.png")
      li
        a(href="#")
          img(width=28, height=28, src="img/social/gp.png")
      li
        a(href="#")
          img(width=28, height=28, src="img/social/pn.png")
    .terms
      p
        a(href="#") Условия и положения
        span=" / "
        a(href="#") Политика конфиденциальности
    
